$border-radius: 0.2rem;
$grey: #eaeaea;
$grey-1: #ccc;
$blue: #40a9ff;

$max767: 'screen and (max-width: 767px)';
$m768: 'screen and (min-width: 768px)';
$m992: 'screen and (min-width: 992px)';
$m1200: 'screen and (min-width: 1200px)';
